valintalaskenta-laskenta-api/src/main/resources/wsdl/valintalaskenta.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="valintalaskentaService"
                  targetNamespace="http://valintalaskenta.service.sade.vm.fi"
                  xmlns:tns="http://valintalaskenta.service.sade.vm.fi"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:valintalaskenta="http://valintalaskenta.service.sade.vm.fi/messages">

        <wsdl:types>
            <xsd:schema targetNamespace="http://valintalaskenta.service.sade.vm.fi">
                <xsd:import namespace="http://valintalaskenta.service.sade.vm.fi/messages" schemaLocation="valintalaskenta.xsd" />
                <xsd:element name="laskeFault">
                	<xsd:complexType>
                		<xsd:sequence>

                			<xsd:element name="laskeFault"
                				type="valintalaskenta:GenericFaultInfo">
                			</xsd:element>
                		</xsd:sequence>
                	</xsd:complexType>
                </xsd:element>
            </xsd:schema>
        </wsdl:types>

        <wsdl:message name="laske">
            <wsdl:part name="parameters" element="valintalaskenta:laske" />
        </wsdl:message>
        <wsdl:message name="laskeVastaus">
            <wsdl:part name="parameters" element="valintalaskenta:laskeVastaus" />
        </wsdl:message>
        <wsdl:message name="valintakokeet">
            <wsdl:part name="parameters" element="valintalaskenta:valintakokeet" />
        </wsdl:message>
        <wsdl:message name="valintakokeetVastaus">
            <wsdl:part name="parameters" element="valintalaskenta:valintakokeetVastaus" />
        </wsdl:message>

        <wsdl:message name="laskeFault">
        	<wsdl:part name="parameters" element="tns:laskeFault"></wsdl:part>
        </wsdl:message>
        <wsdl:portType name="ValintalaskentaService">
            <wsdl:documentation>Palvelu valintalaskennan suorittamiseen</wsdl:documentation>
            <wsdl:operation name="laske">
                <wsdl:input message="tns:laske" />
                <wsdl:output message="tns:laskeVastaus" />
            <wsdl:fault name="fault" message="tns:laskeFault"></wsdl:fault>
        </wsdl:operation>
            <wsdl:operation name="valintakokeet">
                <wsdl:input message="tns:valintakokeet" />
                <wsdl:output message="tns:valintakokeetVastaus" />
            </wsdl:operation>
        </wsdl:portType>

        <wsdl:binding name="ValintalaskentaServiceSoapBinding" type="tns:ValintalaskentaService">
            <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
            <wsdl:operation name="laske">
                <soap:operation soapAction="" style="document" />
                <wsdl:input>
                    <soap:body use="literal" />
                </wsdl:input>
                <wsdl:output>
                    <soap:body use="literal" />
                </wsdl:output>
            </wsdl:operation>
            <wsdl:operation name="valintakokeet">
                <soap:operation soapAction="" style="document" />
                <wsdl:input>
                    <soap:body use="literal" />
                </wsdl:input>
                <wsdl:output>
                    <soap:body use="literal" />
                </wsdl:output>
            </wsdl:operation>
          </wsdl:binding>

        <wsdl:service name="ValintalaskentaService">
            <wsdl:port name="ValintalaskentaServicePort" binding="tns:ValintalaskentaServiceSoapBinding">
                <soap:address location="http://localhost:8181/cxf/valintalaskentaService" />
            </wsdl:port>
        </wsdl:service>

</wsdl:definitions>